.App {
  text-align: center;
  background-color: #2a033a;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2a033a;
  background-image: url("./asset/header/unnamed.jpg");
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(167, 61, 158);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .container {
  background-color: rgb(144, 238, 144);
} */

.liStyle {
  width: "300px";
  display: flex;
  position: relative;
  justify-content: center;
}
